@model PandaWeb.Models.EducationPlan

@{
	ViewBag.Title = "Details";
}

<h2>Details</h2>

<h2>Välkommen till @Html.DisplayFor(model => model.Name)</h2>
<h3>Meddelande om den här utbildningen</h3>
<hr />
<br />
<br />

<div name="info">
	<p>
		Den här utbildningen startar @Html.DisplayFor(model => model.StartDate) och avslutas @Html.DisplayFor(model => model.EndDate)
		<br />  Kurser i det här programmet:
		<div>
		@Html.Action("CourseDetails")

		</div>
</div>