@model IEnumerable<PandaWeb.Models.Documents>

@{
    ViewBag.Title = "LG";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LG-Information</h2>    
    <p>
   För att se när nästa möte är, klicka @Html.ActionLink("här", "Index", "Calendar")
    </p>
    <br />
    <div name="uppladdning">
        <table>
            <tr>
                <th>Protokoll</th>
                <th>Datum</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    <br/>
    -Medlemmar
    <br/>
    -Val/[Val]
</p>

