@{
	ViewBag.Title = "Panda";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Pandas Skolportal</h1>
    <p class="lead"></p>
    <p></p>
</div>
<div>
	<p>
		Välkommen till Pandas Skolportal!
		<br />
		<br />
		Logga in @Html.ActionLink("här", "Login", "Account")
		<br />
		Saknar du ett konto?
		Ta kontakt med @Html.ActionLink("oss", "About")
	</p>
</div>
